@(time: java.util.Date)(implicit session: play.api.mvc.Session) 
<div class="small">
	<span class="small">
		Counter is <b>@session.get("counter")</b>.
	</span>
	<span>&nbsp;</span>
	<span class="small">
		Time is <b>@time.format("dd/MMMM/yyyy hh:mm:ss")</b>.
	</span>
</div>
