@(time: java.util.Date)(implicit session: play.api.mvc.Session) 

@main("Welcome to Play") {

	<h1>Rest Demo with Scala, Play and Slick</h1>

<p>
This Scala/Play Demo creates a Rest API for Users/Tasks. This app uses Scala Play  with H2 in memory database.
The rest endpoints have integration tests written for them using the play <em>FakeApplication</em> and <em>FakeRequets</em> together with the
in memory database.</p>

<h2> REST URLS FOR READ/GET </h2>

<ul class="list-group">
<li class="list-group-item"> http://localhost:9000/users </li>
<li class="list-group-item"> http://localhost:9000/users/{userid} </li>
<li class="list-group-item"> http://localhost:9000/users/{userid}/tasks </li>
<li class="list-group-item"> http://localhost:9000/users/{userid}/tasks/{taskid}</li>
</ul>

<h2>REST URLS POST/CREATE </h2> 

<p>to create a new user</p>

<p>post to http://localhost:9000/users</p>

<pre class="small">
curl -i -X POST -H "Content-Type: application/json" \
-d '{"firstname" : "santa","lastname" : "Saint", "username" : "Nicholas"}' \
http://localhost:9000/users
</pre>
<pre class="small">
HTTP/1.1 201 Created
Location: http://localhost:9000/users/3
Content-Length: 0
</pre>

<p>to create a new user task</p>

<p>post to http://localhost:9000/users/1/tasks</p>


<pre class="small">
curl -i -X POST -H "Content-Type: application/json" \
-d '{"description":"desc","completed":false,"dueDate":"2015-12-31T23:00:00","priority":"HI"}' \
http://localhost:9000/users/1/tasks
</pre>
<pre class="small">
HTTP/1.1 201 Created
Location: http://localhost:9000/users/1/tasks/24
Content-Length: 0
</pre>


@footer(time)
}
